<body>

  <!-- <div class="p-5 bg-primary text-white text-center">
    <h1 th:if="${session.user_id == null}">
      <a th:href="@{/signin}" class="link-dark">
        로그인 후 사용해주세요.
      </a>
    </h1>
    <h1 th:unless="${session.user_id == null}">
      <a th:href="@{/signout}" class="link-dark">
        <tr>[['로그아웃.' ]]</tr> &nbsp;&nbsp;&nbsp;
        <tr>
          <a th:href="@{/myPage}" class="link-dark">
            [[ ${session.user_email} + '님 반갑습니다.' ]]
        </tr>
      </a> -->
      <!-- <h1 th:unless="${session.user_id == null}">
        <a th:href="@{/myPage}" class="link-dark">
          [[ ${session.user_email} + '님 반갑습니다.' ]]
        </a>
    </h1> -->
  <!-- </div> -->
  <style>
    /* .p-5 {
      height: 100px;
      width: 100;
      position: absolute;
      right: 0%;
      background-color: azure;
    }

    a {
      size: 50;
      font-size: medium;
      position: relative;
      right: 10;
      text-decoration: none;
    }

    h1>th:nth-child(0) {
      margin-left: 50%;
    } */
  </style>
</body>