<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head">
</head>
<body>
<div th:replace="common/header">
</div>
<nav th:replace="common/nav">
</nav>
<div class="container mt-5">
    <form method="post" th:object="${user}" th:action="/myPage">
        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" th:field="*{email}" />
        </div>
        <div class="mb-3">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="pwd" th:field="*{pwd}" />
        </div>
        <div class="mb-3">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" />
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</div>
<div th:replace="common/footer">
</div>
</body>
</html>
