<!DOCTYPE html>
<html lang="en">
  <style>
    .col{
    margin: 0;
    position: absolute;
    width: 100;    
}
  body{
    /* padding-bottom:100% ; */
  }

  .fakeimg img{
    width: 100%;
    height: 100%;
  }
  .nav-item :hover{
    background-color: rgb(71, 75, 79);
  }
  </style>
<head th:replace="common/head">

</head>
<body>

<div th:replace="common/header">
   
</div>

<nav th:replace="common/nav">

</nav>

<div class="container mt-5">
  <div class="row" style="margin-left: 10;">
    <div class="col-sm-4" style="background-color: rgb(192, 193, 220);">
     
      <h3 class="mt-4">Menus Link</h3>
      <p>끄적끄적.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Submenu1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Submenu2</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">사업자 위치:광주 광산구 소촌로 152번길 37</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>TITLE</h2>
      <h5>description</h5>
      <div class="fakeimg">이미지
        <a href='https://ifh.cc/v-oWV2zO' target='_blank'><img src='https://ifh.cc/g/oWV2zO.jpg' ></a>
      </div>
      <p>부연 설명</p>
      <p> amuguna.</p>

      <!-- <h2 class="mt-5">제목</h2>
      <h5>설명란</h5> -->
      <div class="fakeimg" style="background-position-x: center; background-size: contain;"></div>
      <!-- <p>Some text..</p> -->
      <!-- <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p> -->
    </div>
  </div>
</div>

<div th:replace="common/footer" style="position: static; bottom: 0%;">
</div>

</body>
</html>