<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head">
<style>

  /* .b{position: relative;
  height: 100%;

  background-color: red;
  } */
</style>
</head>
<body class="b">

<div th:replace="common/header">
   
</div>

<nav th:replace="common/nav">

</nav>

<div class="container mt-5">
  <div class="row">
    <form method="post" action="/myPage">
      <div class="mb-3">
        <input type="hidden" class="form-control" id="id" name="id" th:value="${user.id}">
      </div>
      <div class="mb-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" th:value="${user.email}" required title="이메일을 확인해 주세요">
      </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="pwd" required title="영문 숫자 특수기호 조합 8자리 이상 입력해 주세요">
      </div>
      <div class="mb-3">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${user.name}" required>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary bg-success" id="myPage">수정하기 @^v^@</button>
      </div>
    </form>
    <!-- <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger">
      <span th:errors="*{email}">Invalid email</span>
    </div>
    <div th:if="${#fields.hasErrors('pwd')}" class="alert alert-danger">
      <span th:errors="*{pwd}">Invalid password</span>
    </div> -->
  </div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div th:replace="common/footer"></div>

</body>
</html>