<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head">

</head>
<body>

<div th:replace="common/header">
   
</div>

<nav th:replace="common/nav">

</nav>

<div class="container mt-5">
  <div class="row">
    <form method="post" action="/myPage">
      <div class="mb-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" title="이메일을 확인해 주세요">
      </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="pwd" title="영문 숫자 특수기호 조합 8자리 이상 입력해 주세요 ">
      </div>
      <div class="mb-3">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" id="myPage">수정하기</button>
      </div>
    </form>
  </div>
</div>

<div th:replace="common/footer">
</div>

</body>
</html>