<!DOCTYPE html>
<html lang="en">

<head th:replace="common/head">

</head>

<body>

  <div th:replace="common/header">

  </div>

  <nav th:replace="common/nav">

  </nav>

  <div class="container mt-5">
    <div class="row">
      <div id="map" style="width:500px; height:400px; margin:0 auto;"></div>
      <div>
        <input type="text" id="location" placeholder="장소 검색">
        <button onclick="searchLocation()">검색</button>
      </div>
    </div>
  </div>
  <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=40c033f19396b0dda04ec4450190c95e"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
     const latitude = /*[[${latitude}]]*/ 35.1601271;
    const longitude = /*[[${longitude}]]*/ 126.8086201;
    function initMap() {
      map = new kakao.maps.Map(container, options);
      marker = new kakao.maps.Marker({
        map: map,
        position: options.center,
      });
    }
    const container = document.getElementById('map');
    const options = {
      center: new kakao.maps.LatLng(latitude, longitude), // 광주인력개발원
      level: 4
    };
    const map = new kakao.maps.Map(container, options);
    const markerPosition = new kakao.maps.LatLng(35.1601271, 126.8086201);
    const marker = new kakao.maps.Marker({
      position: markerPosition
    });
    marker.setMap(map);

    const data = axios({
      url: '/map/getPoint',
      method: 'get',
      params: {
        lat: 37.4980239,
        lng: 127.027572,
        km: 10
      }
    });
    data.then(function (result) {
      console.log(result.data);

      // 마커를 저장할 배열 생성
      const markers = [];
      function searchLocation() {
      const location = document.getElementById('location').value;

      // Kakao 지도 API의 장소 검색 서비스를 사용하여 검색
      const geocoder = new kakao.maps.services.Geocoder();
      geocoder.addressSearch(location, function (result, status) {
        if (status === kakao.maps.services.Status.OK) {
          const coords = new kakao.maps.LatLng(result[0].y, result[0].x);

          // 검색 결과 위치로 지도 이동 및 마커 표시
          map.setCenter(coords);
          marker.setPosition(coords);
        }
      });
    }
      for (let i = 0; i < result.data.length; i++) {
        const marker = new kakao.maps.Marker({
          map: map,
          position: new kakao.maps.LatLng(
            result.data[i].latitude, result.data[i].longitude),
          title: result.data[i].title,
        });

        // 마커에 클릭 이벤트 핸들러 추가
        kakao.maps.event.addListener(marker, 'click', function () {
          const infowindow = new kakao.maps.InfoWindow({
            content: '인력개발원', // 원하는 내용
            position: marker.getPosition(), // 마커 위치에 띄우도록 설정
          });
          infowindow.open(map);
        });

        markers.push(marker);
      }
      // 페이지 로드 시 지도 초기화 함수 호출
    initMap();
    });
  </script>

  <div th:replace="common/footer">
  </div>

</body>

</html>
