<!DOCTYPE html>
<html lang="en">

<head th:replace="common/head">

</head>

<body>

  <div th:replace="common/header">

  </div>

  <nav th:replace="common/nav">

  </nav>

  <div class="container mt-5">
    <div class="row">
      <div id="map" style="width:500px; height:400px; margin:0 auto;"></div>
    </div>
  </div>
  <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=da146a2a6ff6a54903c1d2a7caecd1c7"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    
    const container = document.getElementById('map');
    const options = {
      center: new kakao.maps.LatLng(35.1585 , 126.7955), // 광주인력개발원
      level: 4
    };
    const map = new kakao.maps.Map(container, options);
    const markerPosition = new kakao.maps.LatLng(35.1585 , 126.7955);
    const marker = new kakao.maps.Marker({
      position: markerPosition
    });
    marker.setMap(map);

    const data = axios({
      url: '/map/getPoint',
      method: 'get',
      params: {
        lat: 37.4980239, 
        lng: 127.027572,
        km: 10
      }
    });
    data.then(function (result) {
      console.log(result.data);

      // 마커를 저장할 배열을 생성합니다.
      const markers = [];

      for (let i = 0; i < result.data.length; i++) {
        const marker = new kakao.maps.Marker({
          map: map,
          position: new kakao.maps.LatLng(
            result.data[i].latitude, result.data[i].longitude),
          title: result.data[i].title,
        });
        // 마커에 마우스 오버 이벤트 핸들러를 추가합니다.
        kakao.maps.event.addListener(marker, 'mouseover', function () {
          const infowindow = new kakao.maps.InfoWindow({
            content: result.data[i].address,강남역 // 주소 정보를 보여주거나 원하는 정보로 변경하세요
          });
          infowindow.open(map, marker);
        });

        // 마커에 마우스 아웃 이벤트 핸들러를 추가합니다.
        kakao.maps.event.addListener(marker, 'mouseout', function () {
          infowindow.close();
        });

        markers.push(marker);
      }
      
    });
  </script>

  <div th:replace="common/footer">
  </div>

</body>

</html>
